*, html {
    padding: 0px;
    margin: 0px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    text-align: left;
}

html {
    background-image: -webkit-gradient(
    	radial, 50% 50%, 0, 50% 50%, 700, from(#325f78), to(#1a3340)
    );
    background:    -moz-radial-gradient(50% 50% 45deg, circle cover, #325f78 0%, #1a3340 100%);
}

html, a {
    color: #FFF; /* #101929; */
    text-shadow:0 1px 1px rgba(0,0,0,0.33); /*rgba(255,255,255,0.33); */
}

*::selection,
a:hover {
    color: #101929; /* #101929; */
    text-shadow:0 1px 1px rgba(255,255,255,0.33); 
    background-color: #FFFFFF;
}

article {
    margin: 100px auto;		
    width: 350px;
}

article header {
    margin-bottom: 40px;
    color: #FFF;
    text-shadow:0 1px 4px rgba(0,0,0,0.68);
}

article header h1 {
    font-size: 2em;
}

article header h2 {
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 100;
    font-size: 1em;
}

article section#contact-info > * {
    display: block;
    padding: 3px 0px 3px 40px;
    margin-bottom: 15px;
}
article section#contact-info p#address {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url(images/pin_map_icon&24.png) no-repeat 0px 0px;
}

article section#contact-info p#phone {
    background: url(images/phone_2_icon&24.png) no-repeat 0px 0px;
}

article section#contact-info p#mail {
    background: url(images/mail_icon&24.png) no-repeat 0px 0px;
}

section#third-party-links {
    margin-top: 50px;
}

section#third-party-links a {
    float: left;
    display: block;
    margin: 0px 12px;
    text-indent: -99999em;
    background-size: 100%;
}

section#third-party-links a:first-child {
    margin-left: 0px;
}

section#third-party-links a:last-child {
    margin-right: 0px;
}

a.zerply-link {
    width: 65px;
    height: 24px;
    background: url(images/Zerply_logo.png) no-repeat;
}

a.twitter-link {
    width: 130px;
    height: 24px;
    background: url(images/twitter_logo.png) no-repeat;
}

a.linkedin-link {
    width: 88px;
    height: 24px;
    background: url(images/linkedin_logo.png) no-repeat;
}
@media screen and (max-width: 480px){
	article {
		margin: 0;
	}
}
@media screen and (max-width: 350px){
	html {
		font-size: 0.7em;
	}
	article header {
    	margin-bottom: 20px;
    }
	article section#contact-info > * {
    	padding: 6px 0px 6px 40px;
    }
	article {
		margin: 0;
		width: 230px;
		padding: 5px;
	}
	section#third-party-links {
    	margin-top: 20px;
	}
	section#third-party-links a {
		clear: both;
		margin: 8px 0px;
	}
}